.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
  column-gap: 32px;
  justify-content: center;


background-image: linear-gradient(90deg, #000000 10%, #422e6e 100%);
}

.App > video:first-child {
  height: 90vh;
}

.App > * {
  margin: 16px
}